<h1>Du lieu tu Controller gui ve la:@ViewBag.infoPersion</h1>
<form asp-action="Index">
    <label>Nhap PersionId</label>
    <input type="text" name="PersionId">
    <label>Nhap ho ten:</label>
    <input type="text" name="FullName">
    <label>Nhap dia chi:</label>
    <input type="text" name="Address">
    <input type="submit" value="Gui du lieu">
</form>