<h1>HelloWord action: @ViewBag.thongbao</h1>
<form asp-action="HelloWord">
    <input type="text" name="CCCD" placeholder="Nhap ma sinh vien">
    <input type="text" name="FullName" placeholder="Nhap ho ten">
    <input type="datetime" name="BirthDay" placeholder="Nhap nam sinh">
    <input type="submit" value="Send">
</form>