<h1>Du lieu tu Controller gui ve la @ViewBag.infoEmployee</h1>
<form asp-action="Index">
    <label>nhap Manhanvien:</label>
    <input type="text" name="Manhanvien">
    <label>Nhap ho ten:</label>
    <input type="text" name="Tennhanvien">
    <label>Nhap Tuoi:</label>
    <input type="text" name="Tuoi">
    <label>Nhap Luong:</label>
    <input type="text" name="Luong">
    <input type="submit" value="">Nhap</input>
</form>